{% load sekizai_tags %}

<!--[if lt IE 9]>
	<script type="text/javascript">alert("Your browser does not support running live Processing drawings.");</script>
<![endif]-->


<li type="sketch" alt="Flur">
	<canvas id="bach" data-processing-sources="{{STATIC_URL}}sketches/bach.pde" width="1280" height="768">
	</canvas>
	<audio id="flur-audio">
	   <source id="ogg" src="{{STATIC_URL}}audio/bach.ogg" type="audio/ogg">
	   <source id="mp3" src="{{STATIC_URL}}audio/bach.mp3" type="audio/mp3">
	   Your browser does not support the audio tag.
	</audio>
</li>

