{% load sekizai_tags %}
<li id="container-for-beedoo" name="beedoo" type="sketch" alt="beedoo">
		<audio>
		   <source id="ogg" src="{{STATIC_URL}}audio/beedoo/0.ogg" type="audio/ogg">
		   <source id="mp3" src="{{STATIC_URL}}audio/beedoo/0.mp3" type="audio/mp3">
		   Your browser does not support the audio tag.
		</audio>
		<audio>
		   <source id="ogg" src="{{STATIC_URL}}audio/beedoo/1.ogg" type="audio/ogg">
		   <source id="mp3" src="{{STATIC_URL}}audio/beedoo/1.mp3" type="audio/mp3">
		   Your browser does not support the audio tag.
		</audio>
		<audio>
		   <source id="ogg" src="{{STATIC_URL}}audio/beedoo/2.ogg" type="audio/ogg">
		   <source id="mp3" src="{{STATIC_URL}}audio/beedoo/2.mp3" type="audio/mp3">
		   Your browser does not support the audio tag.
		</audio>
		<audio>
		   <source id="ogg" src="{{STATIC_URL}}audio/beedoo/3.ogg" type="audio/ogg">
		   <source id="mp3" src="{{STATIC_URL}}audio/beedoo/3.mp3" type="audio/mp3">
		   Your browser does not support the audio tag.
		</audio>
		<audio>
		   <source id="ogg" src="{{STATIC_URL}}audio/beedoo/4.ogg" type="audio/ogg">
		   <source id="mp3" src="{{STATIC_URL}}audio/beedoo/4.mp3" type="audio/mp3">
		   Your browser does not support the audio tag.
		</audio>
</li>

{% addtoblock "js" %}<script src="{{STATIC_URL}}js/lib/p5/p5.min.js" type="text/javascript"></script>{% endaddtoblock %}
<script type="text/javascript">
	var beedoo = {};
</script>
{% addtoblock "js" %}<script src="{{STATIC_URL}}js/doc.dartboard.js" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{STATIC_URL}}js/doc.pitch.js" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{STATIC_URL}}js/doc.wave.js" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{STATIC_URL}}js/doc.voice.js" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{{STATIC_URL}}sketches/beedoo.js" type="text/javascript"></script>{% endaddtoblock %}