<li type="vimeo" alt="Beluga at IAC"><iframe id="beluga-live" src="http://player.vimeo.com/video/44995692?api=1;&loop=1;&player_id=beluga-live" width="800" height="450" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></li>			
<li type="flickr" alt="Beluga Stills"><embed value="transparent" type="application/x-shockwave-flash" src="http://www.flickr.com/apps/slideshow/show.swf?v=109615" allowFullScreen="true" flashvars="offsite=true&lang=en-us&page_show_url=%2Fphotos%2F78004446%40N00%2Fsets%2F72157628487604271%2Fshow%2F&page_show_back_url=%2Fphotos%2F78004446%40N00%2Fsets%2F72157628487604271%2F&set_id=72157628487604271&jump_to=" class="media flickr" width="800" height="600"></embed></li>



