{% load sekizai_tags %}
{% load jsonify %}
{% addtoblock "js" %}<script type="text/javascript" src="{{STATIC_URL}}js/lib/processing.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{STATIC_URL}}js/lib/froogaloop.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery/jquery-plus.js"></script>{% endaddtoblock %}



<div id="gallery">
	{% for m, medium in media.items %}
		<div id="medium-{{m}}" class="medium">
			{% for project in medium %}
				{% with project.code|add:".html" as template %}
					<div id="{{project.code}}" class="project col-{{project.medium}} row-{{project.order}}"> 
						<ul class="carousel"> 
							<li type="title" class="title-slide" alt="Intro">
								<span class="project-title">{{project.title}}. </span>
								<span class="project-tagline">{{project.tagline}}</span>
								<span class="project-collaborators">{% if project.collaborators %}With {{project.collaborators}}.{% endif %}</span>
								<span class="project-performed">{% if project.performers %}Performed by {{project.performers}}.{% endif %}</span>
								<span class="project-description">{{project.description}}</span>
								<span class="project-materials">{{project.materials}}</span>
								<span class="project-music">{{project.music}}</span>
								</li>
							{% include template %}
					</div>
				{% endwith %}
			{% endfor %}		
		</div>
	{% endfor %}
</div>


<script type="text/javascript">
var vimeos = {};
var vimeoCount = 0;
$(document).ready(function(){
	Processing.logger = console;
	var media = {{media.items | jsonify }};
	// Catching the ready event early enough
	var vimeoIframes = $("#gallery").find("li[type=vimeo] iframe");
	$.each(vimeoIframes, function(v, vimeo){
		$f(vimeo).addEvent("ready", function(player_id){
			vimeoCount++;
			vimeos[player_id] = $f(player_id);
 			if(vimeoCount == vimeoIframes.length)
				setTimeout(function(){ gallery.control.init(media); }, 1000);
			});
	});
});
</script>
{% include "nav.html" %}
{% addtoblock "js" %}<script type="text/javascript" src="{{STATIC_URL}}js/utils.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{STATIC_URL}}js/players.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{STATIC_URL}}js/carousel.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{STATIC_URL}}js/project.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{STATIC_URL}}js/control.js"></script>{% endaddtoblock %}

