{% load sekizai_tags %}
{% load jsonify %}
{% addtoblock "js" %}<script type="text/javascript" src="{{STATIC_URL}}js/lib/processing.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{STATIC_URL}}js/lib/froogaloop.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{STATIC_URL}}js/lib/jquery/jquery-plus.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{STATIC_URL}}js/lib/css_browser_selector.js"></script>{% endaddtoblock %}


<div id="gallery">
	{% for m, medium in media.items %}
		<div id="medium-{{m}}" class="medium">
			{% for project in medium %}
				{% with project.code|add:".html" as template %}
					<div id="{{project.code}}" class="project col-{{project.medium}} row-{{project.order}}"> 
						<ul class="carousel"> 
							<li type="title" class="title-slide" alt="Intro">
								<span class="project-title">{{project.title}}. </span>
								<span class="project-tagline">{{project.tagline}}</span>
								<span class="project-collaborators">{% if project.collaborators %}With {{project.collaborators}}.{% endif %}</span>
								<span class="project-performed">{% if project.performers %}Performed by {{project.performers}}.{% endif %}</span>
								<span class="project-description">{{project.description}}</span>
								<span class="project-materials">{{project.materials}}</span>
								<span class="project-music">{{project.music}}</span>
								</li>
							{% include template %}
					</div>
				{% endwith %}
			{% endfor %}		
		</div>
	{% endfor %}
</div>


<script type="text/javascript">
var vimeos = {};
var mediaCount = 0;
$(window).load(function(){
	$("body").animate({ opacity : 1}, 1000);
});
var init = function() {
	/* HACK FOR ADDING MARGIN TO SAFARI NAV SELECTOR */
	function isSafari() {
		  var is_safari = navigator.userAgent.toLowerCase().indexOf('safari/') > -1;
		  return is_safari;
		}	
	if(isSafari())
		$("#nav-wrapper #selector").css("margin-top", "4%");
	
	Processing.logger = console;
	var media = {{media.items | jsonify }};
	// Catching the ready event early enough
	var vimeoIframes = $("#gallery").find("li[type=vimeo] iframe");
	var flickrIframes = $("#gallery").find("li[type=flickr] iframe");
	var stills = $("#gallery").find("li[type=still] img");
	
	var totalMedia = vimeoIframes.length + flickrIframes.length + stills.length;
	
	$.each(vimeoIframes, function(v, vimeo){
		$f(vimeo).addEvent("ready", function(player_id){
			mediaCount++;
			vimeos[player_id] = $f(player_id);
 			if(mediaCount == totalMedia)
				setTimeout(function(){ gallery.control.init(media); }, 1000);
			});
	});
	
	$.each(flickrIframes, function(f, flickr) {
		flickr.load(function(){
			mediaCount++;
			if(mediaCount == totalMedia)
				setTimeout(function(){ gallery.control.init(media); }, 1000);
		});
	});
	
	$.each(stills, function(s, still) {
		$(still).load(function(){
			mediaCount++;
			if(mediaCount == totalMedia)
				setTimeout(function(){ gallery.control.init(media); }, 1000);
		});
	});
}
</script>

{% addtoblock "js" %}<script type="text/javascript" src="{{STATIC_URL}}js/utils.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{STATIC_URL}}js/players.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{STATIC_URL}}js/carousel.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{STATIC_URL}}js/project.js"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{STATIC_URL}}js/control.js"></script>{% endaddtoblock %}

<!--[if IE]>
	<div id="windows" class="alert">Best viewed in Chrome, Firefox or Safari.</div>
<![endif]-->
<!--[if !IE]> -->
	<div class="alert"><span>&deg;</span> Turn on your sound, please. <span>&deg;</span> </div>
	<script type="text/javascript">
		$(".alert").delay(10000).slideUp("slow");
		$(document).ready(init);
		</script>
<!-- <![endif]-->
