<li type="vimeo" class="live player" alt="Dusk">
<iframe id="highline-dusk" src="http://player.vimeo.com/video/49796598?api=1;&loop=1;&player_id=highline-dusk" class="media vimeo" width="800" height="450" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></li>			

<!-- <li type="vimeo" class="live player" alt="Dark">
<iframe id="highline-dark" src="http://player.vimeo.com/video/49272585?api=1;&loop=1;&player_id=highline-dark" class="media vimeo" width="800" height="450" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></li>			
 -->