<li type="vimeo" class="live player featured slide-away" alt="Study with Moving Light and Still Figure">
<iframe id="jig-craig" src="http://player.vimeo.com/video/30669296?api=1;&loop=1;&player_id=jig-craig" class="media vimeo" width="800" height="450" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></li>			

<li class="slide-in slide-away" alt="Schematic"><img class="media" src="{{STATIC_URL}}images/hj-diagram.png"></li>

<li type="vimeo" class="live player featured slide-in slide-away" alt="Light #1">
<iframe id="jig-flail" src="http://player.vimeo.com/video/30670001?api=1;&loop=1;&player_id=jig-flail" class="media vimeo" width="800" height="450" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></li>			

<li type="vimeo" class="live player slide-in slide-away" alt="Light #2">
<iframe id="jig-springs" src="http://player.vimeo.com/video/30670375?api=1;&loop=1;&player_id=jig-springs" class="media vimeo" width="800" height="450" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></li>			

<li type="vimeo" class="live player slide-in" alt="Light #3">
<iframe id="jig-rotary" src="http://player.vimeo.com/video/30670616?api=1;&loop=1;&player_id=jig-rotary" class="media vimeo" width="800" height="450" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></li>			

</ul>