html, body, div, span, p, img {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	font-family: "Calibri", "Lucida", sans-serif;	
	color: #999;
}

.alert {
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	padding: 5px 20px;
	background: rgba(0,0,0,.67);
	color: #fff;
	font-size: 1em;
	text-align: center;
	font-weight: normal;
}

.alert span {
	font-size: 2em;
	color: white;
	padding: 0 5px;
}

canvas {
	font-family: "Calibri", "Lucida", sans-serif;	
}

body {
	font-size: 14px;
	background: #f9f9f9;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

img {
	border:  none;
}

ul, ol {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
	padding: 0;
}

/* GALLERY */


#gallery {
	position: relative;
	width: 400%;
}

.medium {
	float : left;
	width: 25%;
}

.project {
	position: relative;
	float: left;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	opacity: 1;
}

.project li {
	float : left;
	width: inherit;
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#gallery .project li iframe {
	min-height: 100vh;
	min-width: 100%;
}

#gallery .project li img, #gallery .project li embed {
	min-width: 100%;
	min-height: 100vh;
}

/* TITLE SLIDE */	

li.title-slide span {
	font-size: 5em;
	color: rgba(0,0,0,.07);
}

span.project-title {
	color: rgba(0,0,0,.33) !important;
}
span.project-tagline {
	color: rgba(0,0,0,.33) !important;
}





/* NAV */

#nav {
	position: absolute;
	top: 100px;
	left: -40%;
	width: 80%;
	margin: 0 50%;
	height: 480px;
	z-index: 100;
	pointer-events: none;
}

#nav ul {
	float: left;
	width: 25%;
}

#nav ul li {
	cursor: pointer;
	background-color: #fff;
	opacity: 1;
	height: 33%;
	margin: 20px;
	pointer-events: all;
}

/* LOGO */
#logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: inherit;
	font-size: 95em;
	overflow: hidden;
	padding-left: 3.5%;
	color: #efefef;
}
