html, body, div, span, p, img {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;	
	font-family: "Lucida Grande", "Lucida", sans-serif;
	color: #999;
}

body {
	width: 100%;
	min-width: 800px;
	font-size: 14px;
	background: black;
	overflow: hidden;
}

img {
	border:  none;
}

ul, ol {
	-moz-padding-start: 0px;
	-moz-margin-before: 0px;
	-moz-margin-after: 0px;
	
	-webkit-padding-start: 0px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
}

li {
	list-style-type: none;
	padding: 0;
}

/* GALLERY */


#gallery {
	width: 400% !important;
	overflow: hidden;
}

.medium {
	width: 25%;
	float : left;
	position: relative;
	height: inherit;
}

.medium.preview {
	position: absolute;
	top: 0;
}

.medium.view {
	transform : none !important;
	-moz-transform: none !important;
	-webkit-transform : none !important;
}

.medium.preview .project {
	overflow: hidden;
}
.medium.view .project {
	overflow: scroll;
}

.project {
	position: relative;
	width: 100%;
	height: 0;
	cursor: pointer;
}

.project.isOff {
	width: 0 !important;
	height: 0 !important;
	display: block;
}


/* CAROUSEL */
#gallery ul.carousel {
	position: relative;	
}

#gallery ul.carousel, #gallery ul.carousel li {
	width: 100%;
	height: inherit;
}

#gallery ul.carousel li {
	position: relative;
	width: 100%;
	background: #000;
	opacity: 0;
}

#gallery ul.carousel li.title-slide {
	-moz-box-shadow:  inset 0 0 60px rgba(0,0,0,0.33);
	-webkit-box-shadow:  inset 0 0 60px rgba(0,0,0,0.33);
	box-shadow:   inset 0 0 60px rgba(0,0,0,0.33);
	background-color: #fff;
}

#gallery ul.carousel li.title-slide {
	font-size: 5em;
}

#gallery ul.carousel li embed, #gallery ul.carousel li .media, {
	width: 100%;
	height: inherit;
}

#gallery ul.carousel li .media {
	position: absolute;
	top: 50%;
}	

/* NAV */

#nav-wrapper {
	position: fixed;
	bottom: 0;
	right: 10%;
	width: 79%;
	background: rgba(0,0,0,.5);
	padding: .5% 1%;
	color: #fff;
	opacity: .5;
	z-index: 2;
}

#nav {
	float: left;
	width: 100%;
	height: inherit;
}

#nav ul {
	position: relative;
	float: left;
	width: 20%;
}

#nav ul li {
	cursor: pointer;
}

#nav #selector {
	position: absolute;
	margin-top: .5%;
	margin-left: .5%;
	width: 18%;
	height: 27%;
	border: 2px solid white;
	background: transparent;
	display: none;
}
