html, body, div, span, p, img {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	font-family: "Calibri", "Lucida", sans-serif;	
	color: #999;
}

.alert {
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	padding: 5px 20px;
	background: rgba(0,0,0,.67);
	color: #fff;
	font-size: 1em;
	text-align: center;
	font-weight: normal;
	z-index: 1;
}

.alert span {
	font-size: 2em;
	color: white;
	padding: 0 5px;
}

canvas {
	font-family: "Calibri", "Lucida", sans-serif;	
}

body {
	font-size: 14px;
	background: #f9f9f9;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

img {
	border:  none;
}

ul, ol {
	padding: 0;
	margin: 0;
}

li {
	list-style-type: none;
	padding: 0;
}

/* GALLERY */


#gallery {
	position: fixed;
	width: 400%;
	opacity: 0;
}

.medium {
	float : left;
	width: 25%;
}

.project {
	position: relative;
	float: left;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	opacity: 1;
}

.project li {
	float : left;
	width: inherit;
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

#gallery .project li iframe {
	min-width: 170vw;
	min-height: 100vh;
	position: relative;
	left: -35vw;
}

#gallery .project li img, #gallery .project li object {
	min-width: 100%;
	min-height: 100vh;
}

#gallery .project li[type=flickr] embed {
	width: 100%;
	min-height: 150vh;
	position: relative;
}

/* TITLE SLIDE */	

li.title-slide span {
	font-size: 5em;
	color: rgba(0,0,0,.07);
}

span.project-title {
	color: rgba(0,0,0,.33) !important;
	font-size: 1.5em;
}
span.project-tagline {
	color: rgba(0,0,0,.33) !important;
}


/* NAV */

#nav-wrapper {
	position: fixed;
	width: 100vw;
	height: 100vh;
	padding: 15vh 10vw;
	z-index: 100;
	pointer-events: none;
	opacity: 0;
}


#nav {
	width: 80vw;
	height: auto;
	opacity: 0;
	font-size: 1.5vw;
}


#nav #scroll {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 50px;
	color: rgba(255,255,255,.5);
	font-size: 10vh;
	text-align: center;
	z-index: 100;
	pointer-events: all;
	cursor: default;
}
#nav #scroll span {
	width: 100%;
}
#nav #scroll #text {
	font-size: 14px;
	position: absolute;
	top: 45px;
	left: 0;
}

#nav ul {
	float: left;
	width: 25%;
}

#nav ul li {
	cursor: pointer;
	background-color: rgba(255,255,255,.925);
	opacity: 1;
	height: 33%;
	margin: 10px;
	padding: 10px;
	pointer-events: all;
}

#nav ul li.doc_selected {
	background-color: rgb(225,0,67);
}

#nav ul li.doc_selected * {
	color: #fff !important;
}

/* LOGO */
#logo {
	position: absolute;
	bottom: -.5em;
	left: -.05em;
	width: auto;
	height: auto;
	font-size: 95em;
	overflow: hidden;
	color: #efefef;
	background: transparent;
}
